
// COLORS IN BHAGASKARA.

$main-color:#fff;
$leading-color: #9f449b;
$darkenlead-color: #6b2e68;
$mainfont-color: #676767;
$section-color: #eee;
$bar-color: #f1f1f1;
$galleryafter-color: rgba(240,108,100,0.48);
$base-color:#000;
$person-color: #484848;
$position-color:  #B6B6B6;
$activedot-color: rgba(0, 0, 0, 0.6);
$valid-color: #3B7A57;
$invalid-color: #FF033E;
